body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	background-color: #003E1F;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #003E1F;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.notes-list {
	display: flex;
	flex-wrap: wrap;
	margin: 2%;

}

.note.new {
	background-color: #EDCF97;
	margin: 1%;
}

.dark-mode .note.new {
	background-color: #EDCF97;
	margin: 1%;
}

textarea {
	border: none;
	resize: none;
	background-color: rgb(247, 234, 218);
	
}

.dark-mode textarea {
	background-color: papayawhip;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: white;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	color:white;
	background-color: #2b0606;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	margin: 1%;
}

.note:nth-child(4n + 1) {
	color: whitesmoke;
	background-color: #A22522;
	margin: 1%;
}

.note:nth-child(4n + 2) {
	color: whitesmoke;
	background-color: #d19813;
	margin: 1%;
}

.note:nth-child(4n + 3) {
	color: whitesmoke;
	background-color: #0F0326;
	margin: 1%;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}


.search input:focus {
	outline: none;
}